.select-list {
  padding: 3px 5px;
  background: var(--blue);
  border: 2px solid var(--blue);
  border-radius: 3px;
  font-size: 18px;
  color: var(--white);
}
.select-list:hover {
  background-color: var(--blue-hover);
}
.option:hover {
  background-color: var(--gray);
}
.cards {
  margin-bottom: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.card {
  padding: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 2px solid var(--l-blue);
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
}
.active {
  background: var(--l-blue);
  color: var(--gray);
}
.wait {
  background: var(--gray);
  color: var(--blue);
}
.card__id {
  font-size: 0;
}
.card__status {
  color: var(--blue-hover);
}
.card__title {
  display: flex;
  justify-content: space-between;
}
.card__place {
  padding: 3px 10px;
  color: var(--yellow);
  font-size: 16px;
  font-weight: 800;
  background-color: var(--gray);
  border-radius: 3px;
}
.card__place small {
  font-size: 12px;
  color: var(--orange);
}
.card__text {
  font-size: 18px;
  font-weight: 400;
  font-family: sans-serif;
  line-height: 1.5;
  letter-spacing: 0.7px;
  text-align: left;
}
.card__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.card__date {
  padding: 3px 10px;
  display: flex;
  gap: 5px;
  background-color: var(--l-blue);
  border: 1px solid var(--blue);
  border-radius: 3px;
}
.card__counter {
  padding: 5px 10px;
  display: flex;
  gap: 5px;
  background-color: var(--blue-hover);
  border: 1px solid var(--blue-hover);
  border-radius: 3px;
  color: var(--yellow);
}

@media screen and (max-width: 576px) {
  .card {
    width: auto;
  }
}
